.custom-btn-portage-green {
  font-family: OpenSans-Regular;
  font-weight: 500 !important;
  color: #fff;
  background-color: #8b98e0 !important;
  border-color: #8b98e0 !important;
}
.custom-btn-portage-green:hover {
  color: #fff !important;
  background-color: #8b98e0 !important;
  border-color: #8b98e0 !important;
}
.custom-btn-portage-green:focus {
  color: #fff !important;
  background-color: #8b98e0 !important;
  border-color: #8b98e0 !important;
  box-shadow: none !important;
}
.custom-btn-portage-green:active {
  color: #fff !important;
  background-color: #8b98e0 !important;
  border-color: #8b98e0 !important;
}

.custom-btn-portage-green--outline{
   color: #8b98e0 !important;
   background-color: transparent !important;
}

/*--*/

.custom-btn-danger {
  font-family: OpenSans-Regular;
  font-weight: 500 !important;
  color: #fff;
  background-color: #f56270 !important;
  border-color: #f56270 !important;
}
.custom-btn-danger:hover {
  color: #fff !important;
  background-color: #f56270 !important;
  border-color: #f56270 !important;
}
.custom-btn-danger:focus {
  color: #fff !important;
  background-color: #f56270 !important;
  border-color: #f56270 !important;
  box-shadow: none !important;
}
.custom-btn-danger:active {
  color: #fff !important;
  background-color: #f56270 !important;
  border-color: #f56270 !important;
}

.custom-btn-danger--outline{
  color: #f56270 !important;
  background-color: transparent !important;
}
.custom-btn--small{
  padding: 0.15rem 0.25rem !important;
  font-size: 0.75rem !important;
}