.no-padding{
  padding-left: 0 !important;
  padding-right:0 !important;
  padding-top: 0 !important;   
  padding-bottom: 0 !important;
}
.common-padding-16px{
  padding: 1rem !important;
}
.common-padding-32px{
  padding: 2rem !important;
}
.margin-auto{
  margin: auto;
}

/*...padding */
.pt-4px{
  padding-top: 0.25rem !important;
}
.pt-7px{
  padding-top: 0.437rem !important;
}
.pt-8px{
  padding-top: 0.5rem !important;
}
.pt-16px{
  padding-top: 1rem !important;
}
.pt-32px{
  padding-top: 2rem !important;
}
.pt-48px{
  padding-top: 3rem !important;
}
.pt-64px{
  padding-top: 4rem !important;
}
.pt-80px{
  padding-top: 5rem !important;
}
.pb-8px{
  padding-bottom: 0.5rem !important
}
.pb-4px{
  padding-bottom: 0.25rem !important;
}
.pb-16px{
  padding-bottom: 1rem !important
}
.pr-0px{
  padding-right: 0 !important;
}
.pr-8px{
  padding-right: 0.5rem !important;
}
.pr-16px{
  padding-right: 1rem !important;
}
.pl-0px{
  padding-left: 0 !important;
}
.pl-8px{
padding-left: 0.5rem !important;
}
.pl-16px{
  padding-left: 1rem !important;
}
.pb-32px{
  padding-bottom: 2rem !important;
}
/*..margin */
.mt-0px{
  margin-top: 0 !important;
}
.mt-8px{
  margin-top: 0.5rem !important;
}
.mt-16px{
  margin-top: 1rem !important;
}
.mt-32px{
  margin-top: 2rem !important;
}
.mt-56px{
    margin-top: 3.5rem !important;
}
.mt-96px{
  margin-top: 6rem !important;
}

.mb-0px{
  margin-bottom: 0 !important;
}
.mb-16px{
  margin-bottom: 1rem !important;
}
.ml-0px{
  margin-left: 0 !important;
}
.ml-8px{
  margin-left: 0.5rem !important;
}
.mr-0px{
  margin-right: 0 !important;
}