@media (max-width: 320px) {
  :root {
    font-size: 0.5rem;
  }
}
@media (min-width: 320px) and (max-width: 419px) {
  :root {
    font-size: 0.65rem;
  }
}
@media (min-width: 420px) and (max-width: 499px) {
  :root {
    font-size: 0.75rem;
  }
}
@media (min-width: 500px) and (max-width: 649px) {
  :root {
    font-size: 0.75rem;
  }
}
@media (min-width: 650px) and (max-width: 767px) {
  :root {
    font-size: 0.75rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  :root {
    font-size: 0.75rem;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  :root {
    font-size: 1.125rem;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  :root {
    font-size: 0.95rem;
  }
}
@media (min-width: 1440px) and (max-width: 1919px) {
  :root {
    font-size: 1rem;
  }
}
@media (min-width: 1920px) and (max-width: 2435px) {
  :root {
    font-size: 1.75rem;
  }
}
@media (min-width: 2436px) and (max-width: 3839px) {
  :root {
    font-size: 2rem;
  }
}
@media (min-width: 3840px) {
  :root {
    font-size: 2.5rem;
  }
}
