body {
  font-size: 0.75rem !important;
  line-height: calc(0.75rem * 1.14) !important;
}

h1 {
  font-size: 4rem !important;
  line-height: calc(4rem * 1.14) !important;
}

h2 {
  font-size: 3rem !important;
  line-height: calc(3rem * 1.14) !important;
}

h3 {
  font-size: 2.25rem !important;
  line-height: calc(2.25rem * 1.14) !important;
}

h4 {
  font-size: 2rem !important;
  line-height: calc(2rem * 1.14) !important;
}

h5 {
  font-size: 1.5rem !important;
  line-height: calc(1.5rem * 1.14) !important;
}

h6 {
  font-size: 1.25rem !important;
  line-height: calc(1.25rem * 1.14) !important;
}

p {
  font-size: 1rem !important;
  line-height: calc(1rem * 1.14) !important;
}

span {
  font-size: 0.875rem !important;
  line-height: calc(0.875rem * 1.14) !important;
}
