.bg-cobalt-blue {
  background-color: #0343a4;
}
.bg-portage-green {
  background-color: #8b98e0;
}
.fs-32px {
  font-size: 2rem;
}
.common-section__title{
  font-family: Roboto-Regular;
  font-weight: 500;
  font-style: normal;
  font-variant: normal;
}
.common-flex {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.box-shadow{
-webkit-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);
}
.width-80px{
  width: 5rem;
}
.width-40px{
  width: 2.5rem;
}
.width-64px{
  width: 4rem;
}
.edit-icon{
  font-size: 0.875rem;
  padding: 0.25rem;
  background-color: #46a745;
  color: #fff;
  border-radius: 0.25rem;
}
.edit-icon:hover{
  color: #fff !important;
}
.trash-icon{
  font-size: 0.875rem;
  padding: 0.25rem;
  background-color: #dc3545;
  color: #fff;
  border-radius: 0.25rem;
}
.trash-icon:hover{
 color: #fff !important;
}

.title-white{
  color: #fff;
}

.title-black{
  color: #000;
}
.title-grey{
  color: #333;
}
.bg-black{
  background-color: #000;
}

.Roboto-Regular{
  font-family: Roboto-Regular;
}
.fs-8px{
  font-size: 0.5rem !important;
}
.fs-14px{
  font-size: 0.85rem;
}
.fs-16px{
  font-size: 1rem;
}
.line-height-0{
  line-height: 0 !important;
}
/*progressbar*/
#progressbar {
  margin-bottom: 0.75rem;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: capitalize;
  font-size: 0.65rem;
  width: calc(100%/3);
  float: left;
  position: relative;
  letter-spacing: normal;
  text-align: center;
}
.progressbar--width li{
  width: calc(100%/4) !important;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 2rem;
  height: 2rem;
  display: block;
  font-size: 0.85rem;
  color: #333;
  background: white;
  border-radius: 50%;
  margin: 0 auto 0.65rem auto;
  border: 0.05rem solid #8b97e0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 0.35rem;
  background: #dcdde5;
  position: absolute;
  left: -50%;
  top: 0.875rem;
  z-index: -1;
}

#progressbar li:first-child:after {
  content: none;
}

#progressbar li.active:before, #progressbar li.active:after {
  background: #8b97e0;
  color: white;
}
.common-input-group__btn{
  padding: 0.25rem 0.5rem !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 0.05rem solid #ced4da !important;
  border-radius: 0.05rem !important;
  border-left-width: 0 !important;
  cursor: pointer !important;
}
.log-img__container{
  width: 100%;
  height: 100%;
}
.br-bottom-grey {
  border-bottom: 0.25rem solid #6c6e6d;
}
.br-top-grey {
  border-top: 0.05rem solid #6c6e6d;
}
.bg-white{
  background-color: #fff !important;
}
.bg-white-smoke{
  background-color: #f5f5f5 !important;
}
.bg-light-white-smoke{
  background-color: #f9f9f9 !important;
}
.width-100px{
  width: 6.25rem;
}
.cursor-pointer{
  cursor: pointer;
}
.fw-800{
  font-weight: 800;
}