.nav-link__item{
  color: #BA282D !important;
  font-size: 0.85rem !important;
  font-family: Roboto-Regular;
   font-weight: 500;
   font-style: normal;
   letter-spacing: 0.02rem;
   padding: 0.15rem 1rem !important;
   border-right: 0.02rem solid #BA282D;
}
.nav-link__item:hover{
   color: #BA282D !important;
}
.nav-item:hover .nav-link__item{
    color: #BA282D !important;
    background-color: #fff !important;
}

.profile-img__container {
  width: 2.45rem;
  height: 2.45rem;
}
.profile-img{
  width: 2.45rem;
  height: 2.45rem;
}
.profile__dropdown-btn{
 background-color:transparent !important;
 border-color: transparent !important;
 outline: 0 !important;  
}

.profile__dropdown-btn:focus{
  outline: 0 !important;
  background-color: transparent;
  box-shadow: none !important
}
.navbar-toggler {
    background-color: #fff !important;
    border: 0.01rem solid transparent !important;
}
.nav-item:last-child .nav-link__item {
    border-right: none;
}
