.common-input__from-control {
  border-radius: 0 !important;
  font-size: 1.25rem !important;
  color: #495057 !important;
  border: 0.01rem solid #ced4da !important;
  &:focus{
    color: #495057 !important;
    border-color: #ced4da !important;
    box-shadow: none !important;
  }
}
