

@font-face {
    font-family: 'OpenSans-Bold';
    src:url('./../fonts/OpenSans-Bold.ttf')  format('truetype');
}
@font-face {
    font-family: 'OpenSans-Light';
    src:url('./../fonts/OpenSans-Light.ttf')  format('truetype');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src:url('./../fonts/OpenSans-Regular.ttf')  format('truetype');
}
@font-face {
    font-family: 'Roboto-Regular';
    src:url('./../fonts/Roboto-Regular.ttf')  format('truetype');
}

.container {
    max-width: 90% !important;
}
/*font size override for 12px*/
.p-small {
    font-size: 0.75rem !important;
    line-height: calc(0.75rem * 1.14) !important;
}

.p-very-small {
    font-size: 0.625rem !important;
    line-height: calc(0.625rem * 1.14) !important;
}

.p-smallest {
    font-size: 0.5rem !important;
    line-height: calc(0.5rem * 1.14) !important;
}

/*font size override for 14px*/
.p-medium {
    font-size: 0.875rem !important;
    line-height: calc(0.875rem * 1.14) !important;
}

.p-large {
    font-size: 1.125rem !important;
    line-height: calc(1.125rem * 1.14) !important;
}

.h1-small {
    font-size: 3.5rem !important;
    line-height: calc(3.5rem * 1.14) !important;
}
.h2-small {
    font-size: 2.45rem !important;
    line-height: calc(2.45rem * 1.14) !important;
}
.h3-large {
    font-size: 2.35rem !important;
    line-height: calc(2.35rem * 1.14) !important;
}

.h4-medium {
    font-size: 2.125rem !important;
    line-height: calc(2.125rem * 1.14) !important;
}

.h4-small {
    font-size: 1.8rem !important;
    line-height: calc(1.8rem * 1.14) !important;
}

.h5-medium {
    font-size: 1.6rem !important;
    line-height: calc(1.6rem * 1.14) !important;
}
.h6-medium {
    font-size: 1.4rem !important;
    line-height: calc(1.4rem * 1.14) !important;
}

a:hover {
    color: #333 !important;
    text-decoration: none !important;
}

.common-label{
    font-family: OpenSans-Regular;
    font-size: 1rem;
    color: #333333;
    font-weight: 500;
    font-style: normal;
}

.common-input__from-control{
    font-family: OpenSans-Regular;
    display: block;
    width: 100%;
    font-size: 1rem !important;
    height: calc(2.25rem + 2px) !important;
    color: #333333 !important;
    background-color: #fff;
    border: 0.05rem solid #ced4da !important;
    border-radius: 0.05rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.common-input__from-control:focus{
   box-shadow: none !important;
}
.common-modal-header__container{
   background-color: #8b98e0;
  padding: 0.5rem 1rem !important;
}
.common-modal-footer__container{
    display: block !important;
   background-color: #fff;
    padding: 0.5rem 0.5rem !important;
    border-top: 0.05rem solid #e9ecef !important;
}
.common-modal-body__container{
  padding-top: 1.5rem !important;
  padding-bottom: 1rem !important;
}
.common-modal-close__container{
    position: absolute;
    right: -0.5rem;
    top: -0.5rem;
    padding: 0.5rem 0.65rem !important;
    background: #000 !important;
    color: #fff !important;
    border-radius: 50%;
    line-height: 0 !important;
    margin: 0 !important;
}
.common-modal-close__container:focus{
    text-shadow: none !important;
    outline: none !important;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.glyphicon{
   top:0.35rem !important;
}
.custom-file-label{
    font-family: OpenSans-Regular;
    display: block;
    width: 100%;
    font-size: 1rem !important;
    height: calc(2.25rem + 2px) !important;
    color: #333333 !important;
    background-color: #fff;
    border: 0.05rem solid #ced4da !important;
    border-radius: 0.05rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}
.custom-file:focus{
    box-shadow: none !important;
    outline: 0 !important;
    border-color: #ced4da !important;
}
.custom-file-label:focus{
    box-shadow: none !important;
    outline: 0 !important;
    border-color: #ced4da !important;
}
.custom-file-label::after{
    border-radius: 0 !important;
}
.custom-file-input:focus{
    box-shadow: none !important;
    outline: 0 !important;
    border-color: #ced4da !important;
}
.custom-file-input:focus~.custom-file-label{
    box-shadow: none !important;
    outline: 0 !important;
}

