.table-header__container {
  background-color: #8b98e0;
  color: #fff;
  font-size: 1rem;
}
.table td {
  font-family: OpenSans-Regular;
  padding: 0.65rem !important;
  font-size: 0.85rem;
}
.table thead th {
  font-family: OpenSans-Bold;
  font-size: 1rem;
  border-bottom: 0px solid #dee2e6 !important;
}
.dataTables_length {
  font-family: OpenSans-Regular;
  font-size: 0.85rem;
}
.dataTables_length select{
  border-radius: 0.05rem !important;
}
.dataTables_length select:focus{
  box-shadow: none !important;
}
.dataTables_filter {
  font-family: OpenSans-Regular;
  font-size: 1rem;
}
.dataTables_filter input{
  border-radius: 0.05rem !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.dataTables_filter input:focus{
  border-color: #ced4da !important;
  box-shadow: none !important;
}
.dataTables_info {
  font-family: OpenSans-Regular;
  font-size: 0.75rem;
}
.dataTables_paginate .pagination{
  font-family: OpenSans-Regular;
  font-size: 0.75rem;
}