span.multiselect-native-select {
    position: relative
}
span.multiselect-selected-text{
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem !important;
}
.multiselect-native-select .btn-group{
   width: 100%;
}
.multiselect-native-select .multiselect{
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem !important;
    height: calc(2.25rem + 2px) !important;
    color: #333333 !important;
    border: 0.05rem solid #ced4da !important;
    border-radius: 0.05rem !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.multiselect-native-select .multiselect:focus{
   outline: none !important;
    box-shadow: none !important;
}
span.multiselect-native-select select {
    border: 0!important;
    clip: rect(0 0 0 0)!important;
    height: 1px!important;
    margin: -1px -1px -1px -3px!important;
    overflow: hidden!important;
    padding: 0!important;
    position: absolute!important;
    width: 1px!important;
    left: 50%;
    top: 30px
}

.multiselect-container {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.multiselect-container .input-group {
    margin: 0.25rem 0;
    padding: 0 0.75rem 1rem 0.75rem;
    border-bottom: 0.05rem solid #ced4da;
}
.multiselect-filter .input-group-addon {
    border-radius: 0 !important;
    background: #cccccc;
}
.multiselect-filter .input-group-btn {
    padding: 0;
    background: #cccccc;
}
.multiselect-filter .multiselect-search{
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem !important;
    height: calc(2.25rem + 2px) !important;
    color: #333333 !important;
    border: 0.05rem solid #ced4da !important;
}
.multiselect-filter .multiselect-search:focus{
    outline: none !important;
    box-shadow: none !important;
}

.multiselect-container .multiselect-reset .input-group {
    width: 93%
}

.multiselect-container>li {
    padding: 0
}

.multiselect-container>li>a.multiselect-all label {
    font-weight: 700
}

.multiselect-container>li.multiselect-group label {
    margin: 0;
    padding: 3px 20px;
    height: 100%;
    font-weight: 700;

}

.multiselect-container>li.multiselect-group-clickable label {
    cursor: pointer
}

.multiselect-container>li>a {
    padding: 0;
    font-size: 1rem;
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
    color: #333333;
}
.multiselect-container>li>a:focus{
    outline: none !important;
}

.multiselect-container>li>a>label {
    margin: 0;
    height: 100%;
    cursor: pointer;
    font-weight: 400;
    padding: 0.25rem 1.15rem;
    width: 100%;
}

.multiselect-filter .glyphicon{
    top: 0.15rem;
    color: #fff;
}
.multiselect-clear-filter:focus{
    outline: none !important;
}
.multiselect-container>li>a>label.checkbox,
.multiselect-container>li>a>label.radio {
    margin: 0;
}

.multiselect-container>li>a>label>input[type=checkbox] {
    margin-bottom: 0.25rem;
}

.btn-group>.btn-group:nth-child(2)>.multiselect.btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-inline .multiselect-container label.checkbox,
.form-inline .multiselect-container label.radio {
    padding: 3px 20px 3px 40px;
}

.form-inline .multiselect-container li a label.checkbox input[type=checkbox],
.form-inline .multiselect-container li a label.radio input[type=radio] {
    margin-left: -20px;
    margin-right: 0;
}


/* selectpicker */
.bootstrap-select .btn-light {
    background: transparent !important;
    border-color: transparent !important;
}
.bootstrap-select .btn-light:focus {
    background: transparent !important;
    outline: 0 !important;
    box-shadow: none !important;
    border-color: transparent !important;
}
.bootstrap-select .dropdown-toggle:focus{
    outline: 0 !important;
}
.bs-searchbox .form-control {
    margin-bottom: 0;
    width: 100%;
    float: none;
    padding: 0.5rem 0.5rem !important;
    font-family: OpenSans-Regular;
    display: block;
    font-size: 1rem !important;
    height: calc(2rem + 2px) !important;
    color: #333333 !important;
    background-color: #fff;
    border: 0.05rem solid #ced4da !important;
    border-radius: 0.05rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.bs-searchbox .form-control:focus {
    outline: 0 !important;
    box-shadow: none !important;

}
.dropdown-item.active, .dropdown-item:active{
    color: #fff !important;
    text-decoration: none;
    background-color: #8b97e0 !important;
}
.bootstrap-select .dropdown-toggle .filter-option:focus{
 border-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}
