/* The container */
.radio__container {
    display: block;
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
    font-size: 1rem;
    padding-top: 0.25rem;
    margin-right: 2rem;
    margin-bottom: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    background-color: transparent;
    border-radius: 50%;
    border: 0.1rem solid #8b97e0;
}

.radio__container:hover input ~ .radio-checkmark {
    background-color: transparent;
    border: 0.1rem solid #8b97e0;
}

.radio__container input:checked ~ .radio-checkmark {
    background-color: #2196F3;
}

.radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio__container input:checked ~ .radio-checkmark:after {
    display: block;
}

.radio__container .radio-checkmark:after {
    top: 0.2rem;
    left: 0.2rem;
    width: 0.65rem;
    height: 0.65rem;
    border-radius: 50%;
    background: white;
}