.min-full-height{
    min-height: 100vh;
}
.login__logo-container{
   width: 6rem;
    height: 6rem;
    margin: 1rem auto;
}
.login__logo-img{
    max-width: 100%;
    min-height: 100%;
    object-fit: contain;

}