.nav-link__item{
  color: #fff;
  font-size: 1rem !important;
  font-family: Roboto-Regular;
   font-weight: 500;
   font-style: normal;
   letter-spacing: 0.02rem;
   padding: 1.25rem 0.75rem !important;
}
.nav-link__item:hover{
   color: #fff !important;
}
.nav-item:hover .nav-link__item{
    color: #8b98e0 !important;
    background-color: #fff !important;
}

.profile-img__container {
  width: 2.45rem;
  height: 2.45rem;
}
.profile-img{
  width: 2.45rem;
  height: 2.45rem;
}
.profile__dropdown-btn{
 background-color:transparent !important;
 border-color: transparent !important;
 outline: 0 !important;  
}

.profile__dropdown-btn:focus{
  outline: 0 !important;
  background-color: transparent;
  box-shadow: none !important
}
.navbar-toggler {
    background-color: #fff !important;
    border: 0.01rem solid transparent !important;
}